<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Error - Fishing Session Tracker</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
</head>
<body class="bg-black text-white">
<main class="min-h-screen flex items-center justify-center">
    <section class="bg-gray-900 p-8 rounded shadow-md w-96 text-center">
        <h1 class="text-2xl font-semibold mb-6">500 - Internal Server Error</h1>
        <p class="mb-4">An unexpected error occurred. Please try again later.</p>
        <!--            <a href="/dashboard" class="text-red-400 hover:text-red-300">Back to Dashboard</a>-->
    </section>
</main>
</body>
</html>