<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="bg-black text-white">
<div class="container mx-auto px-4 py-8">

    <div class="dashboard-heading">
        <h1 class="text-3xl font-semibold mb-6">Welcome, <span th:text="${#authentication.name}"></span>!</h1>
        <form th:action="@{/logout}" method="post">
            <input class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mb-8 inline-block" type="submit" value="Logout" />
        </form>
    </div>

    <h2 class="text-2xl font-semibold mb-4">Your Sessions</h2>
    <div class="session-button">
    <a href="/sessions/new" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded inline-block">
        Add New Session
    </a>

    </div>

    <div th:if="${sessions.isEmpty()}">
        <p>You haven't created any sessions yet.</p>
    </div>
    <div th:if="${message}" class="bg-green-500 text-white p-3 rounded mb-4" role="alert">
        <p th:text="${message}"></p>
    </div>


    <div th:each="sess : ${sessions}" class="session-list bg-gray-800 p-4 rounded-lg">
       <h3 th:text="${sess.venue}" class="text-xl font-semibold mb-2"></h3>
       <p th:text="${'Date: ' + #temporals.format(sess.startDate, 'dd-MM-yyyy')}" class="mb-1"></p>
       <p th:text="${'Duration: ' + sess.durationHours + ' hours'}" class="mb-1"></p>
        <div th:with="anglersList=${@sessionService.getAnglersForSession(sess.id)}">
                   <p th:text="${'Anglers: ' + anglersList.size()}" class="mb-2"></p>
        </div>

       <a th:href="@{/sessions/{id}(id=${sess.id})}" class="text-red-400 bg-red-600 hover:text-red-300">View Details</a>
        <hr class="red">
    </div>

</div>
</body>
</html>