<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
<h1>This will be the user dashboard</h1>

<div class="container mx-auto mt-8">
    <h1 class="text-3xl font-semibold mb-6">Welcome, <span th:text="${#authentication.name}"></span>!</h1>
    <!-- Dashboard content -->
</div>
</body>
</html>