<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Login - Fishing Session Tracker | Record Your Fishing Adventures</title>
    <meta content="Log in to your Fishing Session Tracker account to record and manage your fishing adventures. Keep track of your catches, locations, and more."
          name="description">
    <link rel="icon" th:href="@{/images/favicon-32.png}" type="image/png">
    <link href="@{/images/favicon-180.png}" rel="apple-touch-icon">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta content="index, follow" name="robots">
</head>
<body class="bg-ink text-paper min-h-screen flex flex-col">

<div th:replace="~{fragments/layout :: header}"></div>

<main class="flex-grow flex items-center justify-center px-4 py-8">
    <section class="bg-surface p-6 sm:p-8 rounded-lg shadow-md w-full max-w-sm sm:max-w-md">
        <h2 class="text-xl sm:text-2xl font-semibold mb-6 text-center">Login to Your Account</h2>
        <form method="post" th:action="@{/login}" th:object="${user}">
            <div class="mb-4">
                <label class="block mb-2 text-sm sm:text-base" for="username">Username</label>
                <input class="w-full px-3 py-2 bg-surface rounded" id="username" name="username"
                       placeholder="Enter Username" required th:field="${user.username}" type="text">
            </div>
            <div class="mb-6">
                <label class="block mb-2 text-sm sm:text-base" for="password">Password</label>
                <input class="w-full px-3 py-2 bg-surface rounded" id="password" name="password"
                       placeholder="Enter Password" required th:field="${user.password}" type="password">
            </div>
            <button class="w-full bg-accent text-paper py-2 px-4 rounded-md hover:bg-accent-hover font-bold"
                    type="submit">
                Login
            </button>
        </form>
        <div class="bg-red-500 text-paper p-3 rounded mt-4 text-sm sm:text-base" role="alert" th:if="${error}">
            <p th:text="${error}"></p>
        </div>
        <div class="bg-green-500 text-paper p-3 rounded mt-4 text-sm sm:text-base" role="alert" th:if="${message}">
            <p th:text="${message}"></p>
        </div>
        <div class="mt-4 text-center">
            <a class="text-accent hover:text-accent-hover hover:underline text-sm sm:text-base" href="/register">
                Don't have an account? Register here
            </a>
        </div>
    </section>
</main>

<div th:replace="~{fragments/layout :: footer}"></div>

</body>
</html>
