<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Session Details</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">

</head>
<body class="bg-black text-white">
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8" th:text="${sess.venue}"></h1>
    <div class="bg-gray-800 p-6 rounded-lg mb-8">
        <p class="mb-2"><strong>Date:</strong> <span
                th:text="${#temporals.format(sess.startDate, 'dd-MM-yyyy')}"></span></p>
        <p class="mb-2"><strong>Duration:</strong> <span th:text="${sess.durationHours + ' hours'}"></span></p>
        <p class="mb-4"><strong>Anglers:</strong></p>
        <ul class="list-disc pl-6 mb-4">
            <li th:each="angler : ${@sessionService.getAnglersForSession(sess.id)} " th:text="${angler.name}"></li>
        </ul>

        <form method="post" onsubmit="return confirm('Are you sure you want to delete this session?');"
              th:action="@{/sessions/{id}/delete(id=${sess.id})}">
            <button class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" type="submit">
                Delete Session
            </button>
        </form>
    </div>
    <a class="text-red-400 hover:text-red-300" href="/dashboard">Back to Dashboard</a>

</div>
</body>
</html>